// Colors
$primary : #2E4053;
$black : black;
$white : white;
// Colors Type
$grass : #27AE60;
$poison : #9B59B6;
$fire : #E74C3C;
$water : #5499C7;
$bug : #1E8449;
$normal : #95AFC0;
$flying : #535C68;
$dragon : black;
$electric : #F6E58D;
$ice : #7FB3D5;
$ground : #F0B27A;
$fairy : white;
$fighting : #D35400;
$psychic : #D98880;
$rock : #808B96;
$steel : #CCD1D1;
$ghost : #76448A;
$dark : darken(#154360, 20%);
:export {
  grass          : $grass;
  poison         : $poison;
  fire           : $fire;
  water          : $water;
  bug            : $bug;
  normal         : $normal;
  flying         : $flying;
  dragon         : $dragon;
  electric       : $electric;
  ice            : $ice;
  ground         : $ground;
  fairy          : $fairy;
  fighting       : $fighting;
  psychic        : $psychic;
  rock           : $rock;
  steel          : $steel;
  ghost          : $ghost;
  dark          : $dark;
  darkengrass    : darken($grass, 20%);
  darkenpoison   : darken($poison, 20%);
  darkenfire     : darken($fire, 20%);
  darkenwater    : darken($water, 20%);
  darkenbug      : darken($bug, 20%);
  darkennormal   : darken($normal, 20%);
  darkenflying   : darken($flying, 20%);
  darkendragon   : darken($dragon, 20%);
  darkenelectric : darken($electric, 20%);
  darkenice      : darken($ice, 20%);
  darkenground   : darken($ground, 20%);
  darkenfairy    : darken($fairy, 20%);
  darkenfighting : darken($fighting, 20%);
  darkenpsychic  : darken($psychic, 20%);
  darkenrock     : darken($rock, 20%);
  darkensteel    : darken($steel, 20%);
  darkenghost    : darken($ghost, 20%);
  darkendark    : darken($dark, 20%);
}